<div *ngIf="!load" class="loader">
  <div class="loader__styles"></div>
  <div class="loader__styles"></div>
</div>
<div *ngIf="load" class="slider">
  <div class="wrapper">
    <ng-template ngFor let-image [ngForOf]="anyImages" let-i="index">
      <img class="slider__image" src={{image.url}} alt="slider_image">
    </ng-template>
    <!-- <img src="../assets/img/lai-man-nung-783645-unsplash.jpg" alt="slider_image" class="slider__image">
      <img src="../assets/img/pedro-lastra-157071-unsplash.jpg" alt="slider_image" class="slider__image" id="lastSlide"> -->
  </div>
  <div (click)="changeSlide($event)" class="left_button"></div>
  <div (click)="changeSlide($event)" class="right_button"></div>
</div>