.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
}
.slider__image {
    width: 150px;
    height: 150px;
    background-color: black;
}
.btn  {
    display: flex;
    justify-content: center;
}
.slider-button {
    
    height: 100px;
    width: 100px;
}
.wrapper  {
    position: relative;
    display: flex;
}