<div *ngIf="!load" class="loader">
  <div class="loader__styles"></div>
  <div class="loader__styles"></div>
</div>
<div *ngIf="load" class="slider">
  <div (ngModel)="slider" [ngStyle]="{'transform': 'translateX(' + valueTransfrom + 'px)'}" class="wrapper">
    <ng-template ngFor let-image [ngForOf]="anyImages" let-i="index">
      <img class="slider__image" src={{image.url}} alt="slider_image">
    </ng-template>
  </div>
  <div (click)="changeSlide($event)" [ngClass]="(valueTransfrom === 0) ?  'left_button hidden' : 'left_button'"></div>
  <div (click)="changeSlide($event)" [ngClass]="(valueTransfrom < (anyImages.length - 7) * (-150)) ?  'right_button hidden' : 'right_button'"></div>
</div>