.home-menu {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.home-menu__title {
    font-family: 'Dosis', sans-serif;
    color: #fff;
    font-size:  3vh;
}
.connection {
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.connection-start {
    opacity: 1;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 4vh;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 12px;
    transition-duration: 1.4s;
}
.connection-start:hover {
    cursor: pointer;
    opacity: 0.4;
    transition-duration: 1.4s;
}
.info-project {
    background-color: white;
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-project__describe {
    text-align: center;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 3vh;   
}