<header class="header-slider">
  <a class="header-slider__back" routerLink="/">Назад</a>
  <h1 class="header-slider__title">View photo</h1>
</header>
<main class="slider-content">
  <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolorem rerum
    assumenda, in officiis error dolorum reiciendis facilis, possimus nobis exercitationem corporis quod voluptate ad
    enim eaque odio eius praesentium.
    Impedit illo sunt provident at eligendi, iste, assumenda neque quis delectus iure vero libero tenetur eaque. Vel,
    harum in quas dolores modi laboriosam. Repellat nobis amet nemo? Earum, asperiores tempora.
    Ipsum distinctio dolor, nemo aliquid laborum, eligendi praesentium debitis asperiores rem ut voluptates, quisquam
    quam repudiandae ea. Commodi tempora perspiciatis recusandae pariatur omnis accusamus id laborum animi. Assumenda,
    necessitatibus suscipit.
    !</p>
  <app-slider></app-slider>
</main>